{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
    <div >
      <h1 style="color:#000099;">  Berkeley  </h1>
      <img class="front-image" src="https://www.cityofberkeley.info/uploadedImages/City_Manager/Level_3_-_General/BayView_Must_Use_with_Credit_to_Haas.jpg">
      <h3 style="color:#7070db;"> Wind Velocity Chart </h3>
      <img class="chart" src="https://live.staticflickr.com/65535/48156145856_e525940dd3_b.jpg"> <br>
      <ul class="storm-info">
        <li>Current Wind Velocity: <b>32.8</b>miles</li>
        <li>Max Wind Velocity: <b>58</b> miles</li>
        <li>Peak Time: <b>6:58 pm</b></li>
      </ul>
      <button> Chase! </button>
  </div>
</body>
</html>





