{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast with alert interface here -->
  <h2 style="color:red;"> Extreme Weather Detected!</h2>
  <div class="safety-check-forecast">
   <form >
   <input type="checkbox"> Safety Check List1<br>
   <input type="checkbox"> Safety Check List2<br>
   <input type="checkbox"> Safety Check List3<br>
   <input type="checkbox"> Safety Check List4<br>
   <input type="checkbox"> Safety Check List5<br>
   <input type="checkbox"> Safety Check List6<br> 
   <input type="submit" value="Ready To Proceed!">
  </form>
  </div>
  <div >
      <h1 style="color:#000099;">  Berkeley  </h1>
      <img class="front-image" src="https://www.cityofberkeley.info/uploadedImages/City_Manager/Level_3_-_General/BayView_Must_Use_with_Credit_to_Haas.jpg">
      <h3 style="color:#7070db;"> Wind Velocity Chart </h3>
      <img class="chart" src="https://live.staticflickr.com/65535/48156145856_e525940dd3_b.jpg"> <br>
      <ul class="storm-info">
        <li>Current Winds Velocity: <b>32.8</b>miles</li>
        <li>Max Wind Velocity: <b>58</b> miles</li>
        <li>Peak Time: <b>6:58 pm</b></li>
      </ul>
      <button > Chase! </button>
  </div>

</body>
</html>





